@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #212121;
  --main-color: #e2b714;
  --ff-roboto: "Roboto", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-roboto-mono: "Roboto Mono", monospace;
  --text-color: #d1d0c5;
  --sub-color: #646669;
  --sub-color-2: #b4b8be;
  --section-padding: 64px;
  --transition-1: 0.2s ease;
  --text-color-1: #7e7e7b;
  --shadow: -1px -1px 54px -17px rgba(0, 0, 0, 0.75);
}

body {
  background-color: var(--main-bg);
  font-family: var(--ff-roboto-mono);
}

.header {
  padding-block: 32px;
  padding-inline: 64px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.left .logo {
  display: flex;
  align-items: center;
}

.left .logo svg {
  width: 60px;
  height: 60px;
}

.left .logo svg path {
  fill: var(--main-color);
}

.left .logo h1 {
  font-family: var(--ff-montserrat);
  font-weight: 550;
  color: var(--text-color);
}

.header .options > * {
  font-size: 18px;
  color: var(--sub-color);
  cursor: pointer;
  transition: 0.2s ease;
  margin-right: 1.1em;
}

.right {
  display: flex;
  align-items: center;
}

.header .options > *:hover {
  color: var(--sub-color-2);
}

.right .options i {
  margin-right: 0;
  margin-left: 1.1em;
}

/* MAIN */
main {
  padding-inline: var(--section-padding);
}

.game-header {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-content: center;
}

#buttons {
  display: flex;
  align-items: center;
  /* margin-right: auto; */
  justify-content: flex-end;
}

#buttons button {
  font-size: 18px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

#buttons button i {
  color: var(--sub-color);
  transition: var(--transition-1);
}

#buttons {
  position: relative;
}

#buttons .restart-msg {
  font-family: var(--ff-roboto);
  visibility: hidden;
  z-index: 1;
  opacity: 0.4;
  padding: 12px 20px;
  background: #151515;
  color: #fff;
  position: absolute;
  top: 50px;
  right: -42px;

  border-radius: 4px;
  font-size: 12px;
  font-weight: 300;

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;

  filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.2));
}

.restart-msg::after {
  content: " ";
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #151515 transparent transparent transparent;

  position: absolute;
  left: 40%;
  top: -10px;
  transform: rotate(180deg);
}

#buttons button i:hover {
  color: var(--sub-color-2);
}

#buttons button i:hover .restart-msg {
  visibility: visible;
  transform: translateY(5px);
  opacity: 1;
  transition: 0.3s ease;
}

#info {
  background-color: rgb(44, 46, 49);
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  border-radius: 6px;
  margin-top: 20px;
}

#info span {
  color: var(--text-color-1);
}
